<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>EQPatent</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="{% static "css/owl.carousel.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "css/owl.theme.default.css" %}" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="{% static "css/magnific-popup.css" %}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static "css/login_styles.css" %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('{% static 'img/home.jpg' %}');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="{% url 'landing_page_index'%}">
							<img class="logo" src="{% static "img/eqpatent-logo.png" %}" alt="logo">
							<img class="logo-alt" src="{% static "img/eqpatent-logo-alt.png" %}" alt="logo">
						</a>
					</div>
					<!-- /Logo -->
				</div>

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">


							<h2 class="white-text">Servus and Welcome</h2>
							<h2 class="white-text">we are happy to have you here</h2>

							
				            <div class="col-md-8 col-md-offset-2">
								<form method="post" class="contact-form">
									{% csrf_token %}
									{{ user_form.as_p }}

									<input type="submit" class="main-btn" value="Register"/>
								</form>
							</div>

						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.magnific-popup.js" %}"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script>

	<script>
		$(document).ready(function() { 
			document.getElementById("email_field").removeAttribute("value");
			var message_sent = "{{message_sent}}";

			if (message_sent)
			{
				var target = "#contact";
    			$('html, body').animate({
        			scrollTop: $(target).offset().top
    			}, 1000);
			}
		});
	</script>

</body>

</html>
