#slideOut {
  position: absolute;
  width: 500px;
  height: 700px;
  top: 50px;
  right: -500px;
  /* Animation  */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#search-form {
  right: 0px;
  /* Animation  */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.showSlideOutSearchForm {
  right: 20% !important;
}


/* Display slideOut */
.showSlideOut {
  right: 0px !important;
}


/* Tab */
.slideOutTab {
  margin-top: 250px;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: rgb(50, 168, 82);
  border-radius: 15px 0px 0px 15px;
  color:white;
  font-weight: bold;
  cursor:pointer;
}

.slideOutTab div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: rgb(50, 168, 82);
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}


/* None relevant included styling */

.modal-body {
  height: 700px;
  padding:0px;
  padding-right: 0px;
}

.feedback-modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  margin:0px; 
}
