html, body {
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.txt-cross {
  text-decoration: line-through;
}

.gif {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.img-gif {
  width: 100%;
  height: auto;
}

.logo {
  width: 200px;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.btn-name {
  background: none;
  color: black;
}

.h-nomargin {
  margin-bottom: 0px;
}

.txt-black {
  color: black;
}

header.subhead {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../assets/img/background.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  header.subhead h1 {
    font-size: 2rem;
  }

  header.masthead h1 {
    font-size: 2rem;
  }

@media (min-width: 768px) {
  header.masthead {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

    header.masthead h1 {
      font-size: 3rem;
    }

  header.subhead {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

    header.subhead h1 {
      font-size: 3rem;
    }
}

.showcase .showcase-text {
  padding-left: 3rem;
  padding-right: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

  .features-icons .features-icons-item {
    max-width: 20rem;
  }

    .features-icons .features-icons-item .features-icons-icon {
      height: 7rem;
    }

      .features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem;
      }

    .features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem;
    }

.testimonials {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

  .testimonials .testimonial-item {
    max-width: 18rem;
  }

  .testimonials .testimonial-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("assets/img/background.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

  .call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

.mail {
  font-size: 20px;
}

.bio {
  text-align: left;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
}

.team {
  max-width: 500px;
  height: 100%;
}

.team-img-showcase {
  border: none;
}

.bio-img {
  max-width: 150px;
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.bio-img-sm {
  max-width: 50px;
  margin-left: auto;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.txt-center {
  text-align: center;
  width: 100%;
}

.card-body{
  height: 600px;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-follow {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 0px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  color:#FFF;
}


.main-btn, .white-btn, .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: #007bff;
    color: #FFF;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
    opacity: 0.8;
}


@media only screen and (max-width: 767px) {

  .main-btn , .default-btn , .outline-btn , .white-btn  {
      padding: 8px 22px;
      font-size:14px;
  }

  #to-test {
     visibility: hidden;
  }

  #eqpatent-story {
    order:1;
    padding-top: 3rem;
  }

  #notebook-img {
    padding-top: 3rem;
  }

  #logo {
    padding-left: 0px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

#logo {
  padding-left: 100px;
}

.lead {

  font-size: large;
}

@media only screen and (max-width: 1500px) {

  .lead {
    font-size: medium;
  }

  .abschicken_btn {
    font-size: medium;
  }
}

@media only screen and (max-width: 1400px) {

  .lead {
    font-size: small;
  }

  .abschicken_btn {
    font-size: small;
  }

}